/* .rowimage {
  width: 30px;
  height: 70px;
}
.rowbody {
}
.qty {
  width: 18px;
  border: 1px solid #80808030;
}
.qtybtn {
  border-style: none;
}
.maincart {
  display: flex;
  flex-direction: row;
} */
