.header {
  display: flex;
  width: 100%;
  z-index: 1;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  background-color: blue;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 30px;
  margin-right: 60px;
}
.cartp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.img {
  width: 20px;
}
.main {
  display: flex;
}
.count {
  position: absolute;
  z-index: 0;
  justify-content: end;
  display: flex;
  width: 100px;
  align-items: center;
  margin-left: 1194px;
  margin-top: 2px;
  position: fixed;
}
.navlink {
  text-decoration: none;
}
